<!doctype html>
{{#if debug_content}}
<!--

This Albatross Explorer is running on network: {{network_name}}

This page was generated with the following content:

{{debug_content}}

-->
{{/if}}
<html>
    <head>
        <title>
            {{#if title}}
                {{title}} - Albatross Devnet
            {{else}}
                Albatross DevNet Explorer
            {{/if}}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Janosch Gräf <janosch@nimiq.com>">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/dashboard.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico'>

        {{#> head-block}}
            {{!-- Custom <head> content per page could be added. --}}
        {{/head-block}}
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Albatross</a>
            <form action="/search">
                <input class="form-control form-control-dark w-100" type="text" placeholder="{{search_placeholder}}" aria-label="Search" name="q">
            </form>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/blockchain">
                                    <span data-feather="file"></span>
                                    Blockchain
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/accounts">
                                    <span data-feather="file"></span>
                                    Accounts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/mempool-info">
                                    <span data-feather="file"></span>
                                    Mempool
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/validator-info">
                                    <span data-feather="layers"></span>
                                    Validators
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/network-info">
                                    <span data-feather="layers"></span>
                                    Network
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/genesis-info">
                                    <span data-feather="layers"></span>
                                    Genesis
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    {{#> content-block}}
                    {{!-- Content goes here. --}}
                    {{/content-block}}
                </main>
            </div>
        </div>

        <footer>
            {{#> footer-block}}
                {{!-- Default footer --}}
            {{> footer }}
            {{/footer-block}}
        </footer>

        <!-- Feather icons -->
        <script src="/static/js/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

        <!-- Bootstrap JS plugins -->
        <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        {{#> scripts-block}}
            {{!-- Custom scripts per page can be added. --}}
        {{/scripts-block}}
    </body>
</html>
