{{#> base title="Dashboard" }}
{{#*inline "content-block"}}

<div class="container" style="margin-top: 1em;">
        <div class="card">
                <div class="card-header">
                        <h4 class="card-title">
                                Network
                        </h4>
                </div>

                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                Connected peers: <span class="preformatted">{{content.num_peers}}</span>
                        </li>
                </ul>

                <div class="card-footer">
                        <a href="/block/{{content.block_hash}}" class="btn btn-primary">more</a>
                </div>
        </div>
</div>

<div class="container" style="margin-top: 1em;">
        <div class="card">
                <div class="card-header">
                        <h4 class="card-title">
                                Blockchain Head
                        </h4>
                        <p class="card-text"><a class="preformatted" href="block/{{content.head.block_hash}}">{{content.head.block_hash}}</a></p>
                </div>

                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                Block number: <span>{{content.head.block_number}}</span>
                        </li>
                        <li class="list-group-item">
                                View number: <span>{{content.head.view_number}}</span>
                        </li>
                        <li class="list-group-item">
                                Epoch: <a href="/epoch/{{content.epoch}}">{{content.head.epoch}}</a>
                        </li>
                        <li class="list-group-item">
                                Timestamp: <span>{{content.head.timestamp}}</span>
                        </li>
                        <li class="list-group-item">
                                Seed: <span class="preformatted">{{content.head.seed}}</span>
                        </li>
                </ul>
        </div>
</div>

{{/inline}}
{{/base}}
